/testarossa.Api/bin/
/testarossa.Api/debug/
/testarossa.Api/obj/
/testarossa.Core/bin/
/testarossa.Core/debug/
/testarossa.Core/obj/
/testarossa.Infrastructure/bin/
/testarossa.Infrastructure/debug/
/testarossa.Infrastructure/obj/
/testarossa.IntegrationTests/bin/
/testarossa.IntegrationTests/debug/
/testarossa.IntegrationTests/obj/
/testarossa.Tests/bin/
/testarossa.Tests/debug/
/testarossa.Tests/obj/
*.json
*.config
*.cache
testarossa.Api/obj/Debug/netcoreapp2.2/testarossa.Api.dll
