/testarossa.Api/bin/
/testarossa.Api/debug/
/testarossa.Api/obj/
/testarossa.Core/bin/
/testarossa.Core/debug/
/testarossa.Core/obj/
/testarossa.Infrastructure/bin/
/testarossa.Infrastructure/debug/
/testarossa.Infrastructure/obj/
/testarossa.IntegrationTests/bin/
/testarossa.IntegrationTests/debug/
/testarossa.IntegrationTests/obj/
/testarossa.Tests/bin/
/testarossa.Tests/debug/
/testarossa.Tests/obj/
*.json
*.config
*.cache
testarossa.Api/obj/Debug/netcoreapp2.2/testarossa.Api.dll
testarossa.Tests/obj/Debug/netcoreapp2.2/testarossa.Tests.csprojAssemblyReference.cache
testarossa.Api/obj/testarossa.Api.csproj.nuget.cache
testarossa.Api/obj/Debug/netcoreapp2.2/testarossa.Api.dll
testarossa.Api/obj/Debug/netcoreapp2.2/testarossa.Api.pdb
testarossa.Api/obj/Debug/netcoreapp2.2/testarossa.Api.assets.cache
testarossa.Api/obj/Debug/netcoreapp2.2/testarossa.Api.csproj.CoreCompileInputs.cache
testarossa.Api/obj/Debug/netcoreapp2.2/testarossa.Api.csproj.FileListAbsolute.txt
testarossa.Core/obj/Debug/netstandard2.0/testarossa.Core.dll
testarossa.Core/obj/Debug/netstandard2.0/testarossa.Core.pdb
testarossa.Core/obj/Debug/netstandard2.0/testarossa.Core.assets.cache
testarossa.Core/obj/Debug/netstandard2.0/testarossa.Core.csproj.CoreCompileInputs.cache
testarossa.Infrastructure/obj/testarossa.Infrastructure.csproj.nuget.cache
testarossa.Infrastructure/obj/Debug/netstandard2.0/testarossa.Infrastructure.dll
testarossa.Infrastructure/obj/Debug/netstandard2.0/testarossa.Infrastructure.pdb
testarossa.Infrastructure/obj/Debug/netstandard2.0/testarossa.Infrastructure.assets.cache
testarossa.Infrastructure/obj/Debug/netstandard2.0/testarossa.Infrastructure.csproj.CoreCompileInputs.cache
testarossa.Infrastructure/obj/Debug/netstandard2.0/testarossa.Infrastructure.csproj.FileListAbsolute.txt
testarossa.Infrastructure/obj/Debug/netstandard2.0/testarossa.Infrastructure.csprojAssemblyReference.cache
testarossa.IntegrationTests/obj/testarossa.IntegrationTests.csproj.nuget.cache
testarossa.IntegrationTests/obj/Debug/netstandard2.0/testarossa.IntegrationTests.assets.cache
testarossa.IntegrationTests/obj/Debug/netstandard2.0/testarossa.IntegrationTests.csproj.CoreCompileInputs.cache
testarossa.IntegrationTests/obj/Debug/netstandard2.0/testarossa.IntegrationTests.csprojAssemblyReference.cache
testarossa.Tests/obj/testarossa.Tests.csproj.nuget.cache
testarossa.Tests/obj/Debug/netcoreapp2.2/testarossa.Tests.assets.cache
testarossa.Tests/obj/Debug/netcoreapp2.2/testarossa.Tests.csproj.CoreCompileInputs.cache
